div.list {
    background: linear-gradient(90deg,#54007a,#3f005c,#3d0059,#260038,#1f002e,#010101);
    padding: 10px;
    border-radius: 0.4em;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
}
span.fav {
    font-weight: bold;
    font-size: large;
    color: #a301ee;
}
ol > li {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color: #a301ee;
    background: linear-gradient(90deg,#54007a,#3f005c,#3d0059,#260038,#1f002e,#010101);
    padding: 10px;
    border-radius: 0.4em;
    border-style: solid;
    border-width: 0.1em;
    border-color: white;
    max-width: fit-content;
    text-shadow: 0.1em 0.1em 0.1em #000;
}